.stylebutton{
    border-radius: 50px;
    border-style: solid;
    background-color: blueviolet;
    color: red;
    padding: 15px;
}

.body{
color: saddlebrown;
width: 50%;
margin: auto;
text-align: center;
height: 1600px;
}
.answers{
    padding: 20px;
    margin: 20px;
    height: 60px;
}
