.stylebutton{
    border-radius: 50px;
    border-style: solid;
    background-color: blueviolet;
    color: red;
    padding: 15px;
}

.body{
color: palevioletred;
width: 50%;
margin: auto;
text-align: center;
height: 1600px;
}
.answer-btn{
    padding: 20px;
    margin: 5px;
    border-style: solid;
    border-radius: 20px;
}
